<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>{{ avr_cpu_type }} / Py-Arduino-Proxy</title>
		<link type="text/css" href="/static/jquery-ui/css/ui-lightness/jquery-ui-1.8.13.custom.css" rel="stylesheet" />	
		<script type="text/javascript" src="/static/jquery-ui/js/jquery-1.5.1.min.js"></script>
		<script type="text/javascript" src="/static/jquery-ui/js/jquery-ui-1.8.13.custom.min.js"></script>
		<script type="text/javascript" src="/static/py-arduino-proxy.js"></script>
		<style type="text/css">
			body { font: 62.5% sans-serif; margin: 20px; color: #777; }
			.pin_status_text { color: #333; }
			div.pwm_slide { padding-top: 5px; }
		</style>	
		<script type="text/javascript">
			
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			// Error messages
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			
			// Show an error message at the TOP of the page.
			function showError(html_msg) {
				$('#error_message_text').html(html_msg);
				$('#error_message_text').append(" <a href='javascript:hide_error_messages(); return false;'>[hide]</a>");
				$("#error_messages").show();
			}

			// Hide the error message.
			function hide_error_messages() {
				$('#error_messages').hide();
			}
			
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			// General pin functions
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			
			// Takes the 'pin' from the ID of the element that generated the event.
			// Returns: Integer
			function get_pin(text) {
				groups = /^pin(\d+)_/(text);
				if(groups == null)
					alert("groups == null / text='" + text + "'");
				return parseInt(groups[1]);
			}
			
			// Set the 'text' associated to a pin
			function pin_status_text(pin, text) {
				$("#pin" + pin + "_status_text").html(text);
			}
			
			function refresh_pin_ui(pin) {
				if(PyArduinoProxy.globalData()['digital_pin_mode'][pin] == 'disabled') {
					pin_status_text(pin, 'Pin disabled');
					$('.pin' + pin + '_for_read').hide();
					$('.pin' + pin + '_for_write').hide();
					// TODO: finish this
					
				} else if(PyArduinoProxy.globalData()['digital_pin_mode'][pin] == 'input') {
					pin_status_text(pin, 'Mode: INPUT');
					$('.pin' + pin + '_for_read').show();
					$('.pin' + pin + '_for_write').hide();
					// TODO: finish this
					
				} else if(PyArduinoProxy.globalData()['digital_pin_mode'][pin] == 'output') {
					pin_status_text(pin, 'Mode: OUTPUT');
					$('.pin' + pin + '_for_read').hide();
					$('.pin' + pin + '_for_write').show();
					
					// Uncheck LOW/HIGH
					$('input:radio[name=pin' + pin + '_dw]').attr('checked', false);
					$('.pin' +  pin + '_output_buttonset').buttonset("refresh");
					
					// Move slider to 0
					if (pin in PyArduinoProxy.globalData()['arduino_type_struct']['pwm_pin_list']) {
						$('#pin' + pin + '_pwm_slider').slider("value", 0);
					}
					
				} else {
					alert("The mode for pin " + pin + " is invalid. Mode: '" + PyArduinoProxy.globalData()['digital_pin_mode'][pin] + "'");
				}
				
				$('input:radio[name=pin' + pin + '_mode]').filter('[value=' + PyArduinoProxy.globalData()['digital_pin_mode'][pin] + ']').attr('checked', true);
				$('.pin' +  pin + '_mode_buttonset').buttonset("refresh");
				
			}
			
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			// PIN mode
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			
			function pin_mode(pin, mode) {
				var ret = PyArduinoProxy.pinMode(pin, mode);
				if(!ret) {
					pin_status_text(pin, "Couldn't set pinMode()"); // FIXME: this message is overwritten
				}
				refresh_pin_ui(pin);
			}
			
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			// PIN operation
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			
			function pin_digital_write(pin, value) {
				
				var slider_value = -1;
				
				if (value == 'low') {
					slider_value = 0;
				} else if (value == 'high') {
					slider_value = 255.
				} else {
					alert("pin_digital_write(): Invalid value.");
					return;
				}
				
				if(PyArduinoProxy.digitalWrite(pin, value)) {
					pin_status_text(pin, 'digitalWrite(): <b>' + value + '</b>');
					if (pin in PyArduinoProxy.globalData()['arduino_type_struct']['pwm_pin_list']) {
						$('#pin' + pin + '_pwm_slider').slider("value", slider_value);
					}
				} else {
					pin_status_text(pin, "Couldn't digitalWrite()");
				}
			}
			
			function pin_analog_write(pin, value) {
				// Uncheck LOW/HIGH
				// TODO: uncheck and refresh only if one of this is checked!
				$('input:radio[name=pin' + pin + '_dw]').attr('checked', false);
				$('.pin' +  pin + '_output_buttonset').buttonset("refresh");
				
				if(PyArduinoProxy.analogWrite(pin, value)) {
					pin_status_text(pin, 'PWM: ' + value);
				} else {
					pin_status_text(pin, "Couldn't analogWrite()");
				}
			}
			
			function pin_digital_read(pin) {
				var value = PyArduinoProxy.digitalRead(pin);
				if(value == 0) {
					pin_status_text(pin, 'digitalRead(): <b>LOW</b>');
				} else if(value == 1) {
					pin_status_text(pin, 'digitalRead(): <b>HIGH</b>');
				} else {
					pin_status_text(pin, 'digitalRead(): invalid response from server.');
				}
			}
			
			function ping() {
				$("#ping_result").html('waiting for response...');
				var start = new Date().getTime();
				var value = PyArduinoProxy.ping();
				var end = new Date().getTime();
				if(value) {
				  $("#ping_result").html('PING OK - ' + (end-start) + ' ms');
				} else {
				  $("#ping_result").html('no response');
				}
			}
			
			function validate_connection() {
				$("#validate_connection_result").html('waiting for response...');
				var value = PyArduinoProxy.validateConnection();
				if(value === false) {
					$("#validate_connection_result").html('ERROR');
				} else {
					$("#validate_connection_result").html('validation OK - ID: ' + value);
				}
			}
			
			function close_proxy() {
				var value = PyArduinoProxy.close();
				if(value === true) {
					window.location.replace("/");
				} else {
					$("#close_proxy_result").html('Couldn\'t close the proxy...');
				}
			}
			
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			// ON-LOAD
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			
			$(function(){
				
				// Attach 'global' event listener of ajax errors
				$("#error_messages").ajaxError(function(event, request, settings){
					showError("<b>Error:</b> a problem occurred when communicating to the server. Url: '" + settings.url + "'");
				});
				
				// Now that AJAX errors are reported, we load the data...
				
				PyArduinoProxy.init();
				
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				// ping
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				
				$("#ping_button").button();
				$("#ping_button").click(function() {
					ping();
				});
				
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				// validate_connection
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				
				$("#validate_connection_button").button();
				$("#validate_connection_button").click(function() {
					validate_connection();
				});
				
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				// close_proxy_button
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				
				$("#close_proxy_button").button();
				$("#close_proxy_button").click(function() {
					close_proxy();
				});
				
				
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				// Pin XX
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				
				// Create buttons
				var pin = 0;
				for (pin=0; pin<PyArduinoProxy.globalData()['arduino_type_struct']['digital_pins']; pin++) {
					$(".pin" + pin + "_mode_buttonset").buttonset();
					$(".pin" + pin + "_output_buttonset").buttonset();
					$(".pin" + pin + "_input_buttonset").buttonset();
				}
				
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				// *** Generic *** setup of components
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				
				// Hide components
				$('.pin_for_read').hide();
				$('.pin_for_write').hide();
				
				// analogWrite() / PWM
				$(".pin_pwm_slider").slider({ value:0, min: 0, max: 255, step: 1});
				
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				// *** Generic *** attach events
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				
				// pinMode(): disable
				$('.pin_mode_dis').change(function() {
					pin = get_pin($(this).attr('id'));
					pin_mode(pin, 'disabled');
				});
				
				// pinMode(): INPUT
				$('.pin_mode_in').change(function() {
					pin = get_pin($(this).attr('id'));
					pin_mode(pin, 'input');
				});
				
				// pinMode(): OUTPUT
				$('.pin_mode_out').change(function() {
					pin = get_pin($(this).attr('id'));
					pin_mode(pin, 'output');
				});

				// digitalRead()
				$(".pin_dr_button").click(function() {
					pin = get_pin($(this).attr('id'));
					pin_digital_read(pin);
				});
				
				// digitalWrite()
				$(".pin_dw_lo").click(function() {
					pin = get_pin($(this).attr('id'));
					pin_digital_write(pin, 'low');
				});
				
				$(".pin_dw_hi").click(function() {
					pin = get_pin($(this).attr('id'));
					pin_digital_write(pin, 'high');
				});
				
				// analogWrite()
				$(".pin_pwm_slider").bind("slide", function(event, ui) {
					pin = get_pin($(this).attr('id'));
					pin_analog_write(pin, ui.value);
				});
				
			});
		</script>
	</head>
	<body>
		
	<h1>Py-Arduino-Proxy @ {{ avr_cpu_type }}</h1>
	
	<!-- Error message -->
	<div id="error_messages" style="display: none;">
		<div class="ui-widget">
			<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;"> 
				<p>
					<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
					<span id="error_message_text">
						<strong>Alert:</strong> Sample ui-state-error style.
					</span>
				</p>
			</div>
		</div>
	</div>
	
	<!-- Informatino about the Arduino -->
	<p style="size: small; border-bottom: 1px #aaa solid;">
		<b>AVR cpu type:</b> <span id="avrCpuType">{{ avr_cpu_type }}</span>
		
		- <b>Digital:</b> 
		{% for pin in range(0, arduino_type.digital_pins) %}
			{{ pin }} {% if pin in arduino_type.pwm_pin_list %} (PWM) {% endif %}
			{% if not loop.last%} , {% endif %}
		{% endfor %}
		
		- <b>Analog:</b> 
		{% for pin in range(0, arduino_type.analog_pins) %}
			{{ pin }}
			{% if not loop.last%} , {% endif %}
		{% endfor %}
	</p>
	
	<!-- ping() / validate_connection() -->
	<p class="ui-helper-clearfix">
		<button id="ping_button">Ping</button> &nbsp; <span id="ping_result"></span>
		&nbsp; | &nbsp;
		<button id="validate_connection_button">Validate connection</button> &nbsp; <span id="validate_connection_result"></span>
		&nbsp; | &nbsp;
		<button id="close_proxy_button">Close</button> &nbsp; <span id="close_proxy_result"></span>
	</p>
	
	{% for pin in range(0, arduino_type.digital_pins) %}
	<div id="pin{{ pin }}" style="padding-bottom: 10px; float: clear;">
		<div>
			
			Pin {{ pin }} - Mode: &nbsp;
			
			<!-- This buttons set the pin mode -->
			<span class="pin{{ pin }}_mode_buttonset">
				<input type="radio" id="pin{{ pin }}_mode_dis" name="pin{{ pin }}_mode" value="disabled" class="pin_mode_dis" checked="checked"/><label for="pin{{ pin }}_mode_dis">Disabled</label>
				<input type="radio" id="pin{{ pin }}_mode_in"  name="pin{{ pin }}_mode" value="input" class="pin_mode_in"/><label for="pin{{ pin }}_mode_in">INPUT</label>
				<input type="radio" id="pin{{ pin }}_mode_out" name="pin{{ pin }}_mode" value="output" class="pin_mode_out"/><label for="pin{{ pin }}_mode_out">OUTPUT</label>
			</span>
			
			<!-- digitalWrite() -->
			<span class="pin{{ pin }}_output_buttonset pin{{ pin }}_for_write pin_for_write">
				&nbsp; | digitalWrite()&nbsp;
				<input type="radio" id="pin{{ pin }}_dw_lo" name="pin{{ pin }}_dw" class="pin_dw_lo"/><label for="pin{{ pin }}_dw_lo">LOW</label>
				<input type="radio" id="pin{{ pin }}_dw_hi" name="pin{{ pin }}_dw" class="pin_dw_hi"/><label for="pin{{ pin }}_dw_hi">HIGH</label>
			</span>
			
			<!-- digitalRead() -->
			<span class="pin{{ pin }}_input_buttonset pin{{ pin }}_for_read pin_for_read">
				&nbsp; | &nbsp;
				<button id="pin{{ pin }}_dr_button" class="pin_dr_button">digitalRead()</button>
			</span>
			
			&nbsp; | <span id="pin{{ pin }}_status_text" class="pin_status_text">Pin disabled</span>
		</div>
		
		{% if pin in arduino_type.pwm_pin_list %}
			<!-- analogWrite() / PWM -->
			<div class="pin{{ pin }}_for_write pin_for_write pwm_slide" style="overflow: auto; width: 100%; padding-bottom: 10px;">
				<div style="float: left; padding-right: 20px;">analogWrite():</div>
				<div style="width: 400px; float: left;"><div id="pin{{ pin }}_pwm_slider" class="pin_pwm_slider"></div></div>
			</div>
		{% endif %}
		
	</div>
	{% endfor %}
	
	<p style="size: small; border-top: 1px #aaa solid; padding-top: 3px;">
		Py-Arduino-Proxy | 2011 &copy; Horacio G. de Oro &lt;hgdeoro@gmail.com&gt; | <a href="https://github.com/hgdeoro/py-arduino-proxy" target="_blank">Get the source</a>
	</p>
	</body>
</html>


