<div ng-controller="PinsController">
<div ng-controller="ControlPanelController" ng-init="enableAceEditor()">

    <!--
	<div ng-include="'/control_panel/html/'" onload="enableAceEditor()"></div>
	<hr/>
	-->
	<button class="btn btn-danger" ng-click="saveControlPanelCode()">Save Code</button>
	
	<button class="btn btn-primary" ng-click="refreshPinInfo()">Refresh values</button>
	
	<button type="button" ng-click="startAutoRefresh()"
	    class="btn btn-primary" ng-show="! extras.intervalAutoRefresh">Start auto-refresh</button>
	
	<button type="button" ng-click="stopAutoRefresh()" class="btn btn-primary"
	    ng-show="extras.intervalAutoRefresh">Stop  auto-refresh</button>
	
    <pre id="editor_html" style="height: 400px;"></pre>
    <pre id="editor_js" style="height: 400px;"></pre>

</div>
</div>
