<!doctype html>
<html ng-app='PyArduino'>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

<script src="//code.jquery.com/jquery.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

<script src="/static/app/ui-bootstrap-tpls-0.6.0.min.js"></script>

<script src="/static/app/controllers.js"></script>

</head>
<body ng-controller="GlobalController">

	<!-- Fixed navbar -->
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">py-arduino</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Dropdown <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Nav header</li>
							<li><a href="#">Separated link</a></li>
							<li><a href="#">One more separated link</a></li>
						</ul></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="../navbar/">Default</a></li>
					<li><a href="../navbar-static-top/">Static top</a></li>
					<li class="active"><a href="./">{{ avr_cpu_type }}</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>

	<div class="container" style="padding-top: 70px;">

		<div ng-controller="PinsController">

			<table class="table table-condensed table-hover">

				<tr>
					<th width="1%"><a href="javascript:void(0);"
						data-toggle="tooltip" title="Indicates pins with PWM support"><span
							class="glyphicon glyphicon-question-sign"></span></a></th>
					<th width="99%" colspan="2">Pin #</th>
				</tr>

				<!--
            // .... .... "pwm": false,
            // .... .... "enabled_in_web": true,
            // .... .... "pin": 0,
            // .... .... "pin_id": null,
            // .... .... "status.written_value": null,
            // .... .... "status.read_value": null,
            // .... .... "status.mode": null,
            // .... .... "digital": true,
            // .... .... "pk": 1,
            // .... .... "label": "Digital pin #0"
            -->

				<tr
					ng-repeat="pin_struct in enhanced_arduino_type.digital_pins_struct">

					<td width="1%">
						<!-- PWM: {{ pin_struct.pwm }} --> <a href="javascript:void(0);"
						ng-show="pin_struct.pwm" data-toggle="tooltip"
						title="This pin has PWM support"><span
							class="glyphicon glyphicon-ok-circle"></span></a>
					</td>

					<td style="text-align: right;" width="1%">D{{pin_struct.pin}}</td>

					<td><a href="javascript:void(0);" ng-show="! editMode">{{pin_struct.label}}</a>
						<input type="text" ng-model="pin_struct.label"
						class="col-lg-3 input-sm" ng-show="editMode" /></td>

				</tr>

				<!--
            // "analog_pins_struct": [
            // .... {
            // .... "pwm": false,
            // .... "enabled_in_web": true,
            // .... "pin": 0,
            // .... "pin_id": null,
            // .... "status.written_value": null,
            // .... "status.read_value": null,
            // .... "status.mode": null,
            // .... "digital": true,
            // .... "pk": 55,
            // .... "label": "Analog pin #0"
            // .... },
            -->

				<tr
					ng-repeat="pin_struct in enhanced_arduino_type.analog_pins_struct">

					<td width="1%">
						<!-- PWM: {{ pin_struct.pwm }} --> <span
						class="glyphicon glyphicon-ok-circle" ng-show="pin_struct.pwm"></span>
					</td>

					<td style="text-align: right;" width="1%">A{{pin_struct.pin}}</td>
					
                    <td><a href="javascript:void(0);" ng-show="! editMode">{{pin_struct.label}}</a>
                        <input type="text" ng-model="pin_struct.label"
                        class="col-lg-3 input-sm" ng-show="editMode" /></td>
					
				</tr>

			</table>

			<button ng-click="loadPinInfo()">Load pins</button>
            <button ng-click="editModeEnter()" ng-show="! editMode">Edit labels</button>
            <button ng-click="editModeExit()" ng-show="editMode">Finish edition</button>

		</div>

	</div>
	<!-- /container -->

</body>
</html>
