<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>{{ avr_cpu_type }} / PyArduinoProxy</title>
        
        <!-- css -->
		<link type="text/css" href="/static/jquery-ui/css/ui-lightness/jquery-ui-1.8.13.custom.css" rel="stylesheet" />	
		<link type="text/css" href="/static/web-ui.css" rel="stylesheet" />	
		<style type="text/css">
			.pin_status_text { color: #333; }
			.digital_pin_label, .analog_pin_label { font-weight: bold; }
			div.pwm_slide { padding-top: 5px; }
		</style>
        
        <!-- javascript -->
		<script type="text/javascript" src="/static/jquery-ui/js/jquery-1.5.1.min.js"></script>
		<script type="text/javascript" src="/static/jquery-ui/js/jquery-ui-1.8.13.custom.min.js"></script>
		<script type="text/javascript" src="/static/web-ui.js"></script>
        
		<!-- *** py-arduino-proxy.js *** HANDLES THE COMMUNICATION WITH ARDUINO -->
        <script type="text/javascript" src="/static/py-arduino-proxy.js"></script>
        
		<script type="text/javascript">
			
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			// General pin functions
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			
            /*
             * Takes the 'pin' from the ID of the element that generated the event.
             * Returns an INTEGER.
             */
			function getPinFromId(text) {
				var groups = String(text).match(/^pin(\d+)_/);
				if(groups == null)
					alert("groups == null / text='" + text + "'");
				return parseInt(groups[1]);
			}

            /*
             * Takes the ANALOG 'pin' from the ID of the element that generated the event.
             * Returns an INTEGER.
             */
			function getAnalogPinFromId(text) {
                var groups = String(text).match(/^pinA(\d+)_/);
				if(groups == null)
					alert("groups == null / text='" + text + "'");
				return parseInt(groups[1]);
			}
			
			// Set the 'text' associated to a DIGITAL pin
			function setStatusTextOfPin(pin, text) {
				$("#pin" + pin + "_status_text").html(text);
			}
			
			// Set the 'text' associated to a ANALOG pin
			function setStatusTextOfAnalogPin(pin, text) {
				$("#pinA" + pin + "_status_text").html(text);
			}
            
			function refreshPinUi(pin) {
				if(PyArduinoProxy.globalData()['digital_pin_mode'][pin] == 'disabled') {
					setStatusTextOfPin(pin, '');
					$('.pin' + pin + '_for_read').hide();
					$('.pin' + pin + '_for_write').hide();
					// TODO: finish this
					
				} else if(PyArduinoProxy.globalData()['digital_pin_mode'][pin] == 'input') {
					setStatusTextOfPin(pin, '');
					$('.pin' + pin + '_for_read').show();
					$('.pin' + pin + '_for_write').hide();
					// TODO: finish this
					
				} else if(PyArduinoProxy.globalData()['digital_pin_mode'][pin] == 'output') {
					setStatusTextOfPin(pin, '');
					$('.pin' + pin + '_for_read').hide();
					$('.pin' + pin + '_for_write').show();
					
					// Uncheck LOW/HIGH
					$('input:radio[name=pin' + pin + '_dw]').attr('checked', false);
					$('.pin' +  pin + '_output_buttonset').buttonset("refresh");
					
					// Move slider to 0
					if (PyArduinoProxy.pinIsPwm(pin)) {
						$('#pin' + pin + '_pwm_slider').slider("value", 0);
					}
					
				} else {
					alert("The mode for pin " + pin + " is invalid. Mode: '" + PyArduinoProxy.globalData()['digital_pin_mode'][pin] + "'");
				}
				
				$('input:radio[name=pin' + pin + '_mode]').filter('[value=' + PyArduinoProxy.globalData()['digital_pin_mode'][pin] + ']').attr('checked', true);
				$('.pin' +  pin + '_mode_buttonset').buttonset("refresh");
				
			}
			
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			// PIN mode
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			
			function pinMode(pin, mode) {
				var ret = PyArduinoProxy.pinMode(pin, mode);
				if(!ret) {
					setStatusTextOfPin(pin, "Couldn't set pinMode()"); // FIXME: this message is overwritten
				}
				refreshPinUi(pin);
			}
			
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			// PIN operation
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			
			function digitalWrite(pin, value) {
				pin = parseInt(pin);
				var slider_value = -1;
				
				if (value == 'low') {
					slider_value = 0;
				} else if (value == 'high') {
					slider_value = 255;
				} else {
					alert("digitalWrite(): Invalid value.");
					return;
				}
				
				if(PyArduinoProxy.digitalWrite(pin, value)) {
					setStatusTextOfPin(pin, 'digitalWrite(): <b>' + value.toUpperCase() + '</b>');
					if (PyArduinoProxy.pinIsPwm(pin)) {
						$('#pin' + pin + '_pwm_slider').slider("value", slider_value);
					}
				} else {
					setStatusTextOfPin(pin, "Couldn't digitalWrite()");
				}
			}
			
			function analogWrite(pin, value) {
				// Uncheck LOW/HIGH
				// TODO: uncheck and refresh only if one of this is checked!
				$('input:radio[name=pin' + pin + '_dw]').attr('checked', false);
				$('.pin' +  pin + '_output_buttonset').buttonset("refresh");
				
				if(PyArduinoProxy.analogWrite(pin, value)) {
					setStatusTextOfPin(pin, 'PWM: ' + value);
				} else {
					setStatusTextOfPin(pin, "Couldn't analogWrite()");
				}
			}
			
			function digitalRead(pin) {
				var value = PyArduinoProxy.digitalRead(pin);
				if(value == 0) {
					setStatusTextOfPin(pin, 'digitalRead(): <b>LOW</b>');
				} else if(value == 1) {
					setStatusTextOfPin(pin, 'digitalRead(): <b>HIGH</b>');
				} else {
					setStatusTextOfPin(pin, 'digitalRead(): invalid response from server.');
				}
			}

			function analogRead(pin) {
				var value = PyArduinoProxy.analogRead(pin);
				if(value >= 0 && value <= 1023) {
					setStatusTextOfAnalogPin(pin, 'analogRead(): <b>' + value + '</b>');
				} else {
					setStatusTextOfAnalogPin(pin, 'analogRead(): invalid response from server.');
				}
			}
			
            //    function ping() {
            //    }
                
            //    function validateConnection() {
            //    }
                
            //    function closeProxy() {
            //    }

			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			// ON-LOAD
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			
			$(function(){
				
                attachGlobalAjaxError();
                
				// Now that AJAX errors are reported, we load the data...
				
				PyArduinoProxy.init();
				PyArduinoProxy.disableJsExceptions();
				
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				// Attach events to buttons
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				
				$("#ping_button").button().click(function() {
					ping();
				});
				
				$("#validate_connection_button").button().click(function() {
					validateConnection();
				});
				
				$("#close_proxy_button").button().click(function() {
					closeProxy();
				});
				
				$("#goto_main_button").button().click(function() {
					redirectToMainPage();
				});
				
				$("#goto_js_prototyper_button").button().click(function() {
					redirectToJsPrototyper();
				});
				
				var pin = 0;
				for (pin=0; pin<PyArduinoProxy.globalData()['arduino_type_struct']['digital_pins']; pin++) {
					$(".pin" + pin + "_mode_buttonset").buttonset();
					$(".pin" + pin + "_output_buttonset").buttonset();
					$(".pin" + pin + "_input_buttonset").buttonset();
				}
				
				$(".digital_pin_label").click(function() {
					var pin = getPinFromId($(this).attr('id'));
					var newLabel = prompt("Enter new label for pin " + pin, $(this).html());
					if(newLabel && newLabel.trim) newLabel = newLabel.trim();
					if(newLabel) {
						$($(this).html(newLabel));
					}
				});

				$(".analog_pin_label").click(function() {
					var pin = getAnalogPinFromId($(this).attr('id'));
					var newLabel = prompt("Enter new label for pin " + pin, $(this).html());
					if(newLabel && newLabel.trim) newLabel = newLabel.trim();
					if(newLabel) {
						$($(this).html(newLabel));
					}
				});
				
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				// *** Generic *** setup of components
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				
				// analogWrite() / PWM
				$(".pin_pwm_slider").slider({ value:0, min: 0, max: 255, step: 1});
				
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				// *** Generic *** attach events
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				
				// pinMode(): disable
				$('.pin_mode_dis').change(function() {
					var pin = getPinFromId($(this).attr('id'));
					pinMode(pin, 'disabled');
				});
				
				// pinMode(): INPUT
				$('.pin_mode_in').change(function() {
					var pin = getPinFromId($(this).attr('id'));
					pinMode(pin, 'input');
				});
				
				// pinMode(): OUTPUT
				$('.pin_mode_out').change(function() {
					var pin = getPinFromId($(this).attr('id'));
					pinMode(pin, 'output');
				});

				// digitalRead()
                $(".bt_digital_read").button().click(function() {
					var pin = getPinFromId($(this).attr('id'));
					digitalRead(pin);
				});
				
                // analogRead()
                $(".bt_analog_read").button().click(function() {
					var pin = getAnalogPinFromId($(this).attr('id'));
					analogRead(pin);
				});
                
				// digitalWrite(): LOW
				$(".pin_dw_lo").click(function() {
					var pin = getPinFromId($(this).attr('id'));
					digitalWrite(pin, 'low');
				});
				
				// digitalWrite(): HIGH
				$(".pin_dw_hi").click(function() {
					var pin = getPinFromId($(this).attr('id'));
					digitalWrite(pin, 'high');
				});
				
				// analogWrite()
				$(".pin_pwm_slider").bind("slide", function(event, ui) {
					var pin = getPinFromId($(this).attr('id'));
					analogWrite(pin, ui.value);
				});
				
			});
		</script>
	</head>
	<body>
		
	<h1>PyArduinoProxy @ {{ avr_cpu_type }}</h1>
	
	<!-- Error message -->
    {% include "web-ui__top_error_message.html" %}
    
    {% include "web-ui__top_connected_arduino_info.html" %}
    
	<!-- ping() / validateConnection() -->
	<p class="ui-helper-clearfix">
		<button id="goto_main_button" class="ui-state-highlight">Main</button>
		<button id="goto_js_prototyper_button">JS Prototyper</button>
        ::
		<button id="ping_button" class="ui-priority-secondary">Ping</button>  <span id="ping_result"></span> 
		<button id="validate_connection_button" class="ui-priority-secondary">Validate connection</button> <span id="validate_connection_result"></span> 
		<button id="close_proxy_button" class="ui-priority-secondary">Close</button> <span id="close_proxy_result"></span> 
	</p>
	
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    
	{% for pin_struct in enhanced_arduino_type.digital_pins_struct %}
	{% with pin=pin_struct.pin %}
	<div style="padding-bottom: 4px;">
		<div>
			
			<span id="pin{{ pin }}_label" class="digital_pin_label" title="Click here to edit">{{ pin_struct.label }}</span>:
            
			<!--
                This buttons set the pin mode.
                Always are visible.
            -->
			<span class="pin{{ pin }}_mode_buttonset">
				<input type="radio" id="pin{{ pin }}_mode_dis" name="pin{{ pin }}_mode" value="disabled" class="pin_mode_dis" checked="checked"/><label for="pin{{ pin }}_mode_dis">Disabled</label>
				<input type="radio" id="pin{{ pin }}_mode_in"  name="pin{{ pin }}_mode" value="input"    class="pin_mode_in"/><label for="pin{{ pin }}_mode_in">INPUT</label>
				<input type="radio" id="pin{{ pin }}_mode_out" name="pin{{ pin }}_mode" value="output"   class="pin_mode_out"/><label for="pin{{ pin }}_mode_out">OUTPUT</label>
			</span>
			
			<!--
                digitalWrite()
            -->
			<span class="pin{{ pin }}_output_buttonset pin{{ pin }}_for_write ui-helper-hidden">
				<input type="radio" id="pin{{ pin }}_dw_lo" name="pin{{ pin }}_dw" class="pin_dw_lo"/><label for="pin{{ pin }}_dw_lo">LOW</label>
				<input type="radio" id="pin{{ pin }}_dw_hi" name="pin{{ pin }}_dw" class="pin_dw_hi"/><label for="pin{{ pin }}_dw_hi">HIGH</label>
			</span>
			
			<!--
                digitalRead()
            -->
			<span class="pin{{ pin }}_for_read ui-helper-hidden">
				<button id="pin{{ pin }}_bt_digital_read" class="bt_digital_read">digitalRead()</button>
			</span>
			
			&nbsp;
            
            <span id="pin{{ pin }}_status_text" class="pin_status_text"></span>
            
		</div>
		
		{% if pin in enhanced_arduino_type.pwm_pin_list %}
			<!-- analogWrite() / PWM -->
			<div class="pin{{ pin }}_for_write pwm_slide ui-helper-hidden" style="overflow: auto; width: 100%; padding-bottom: 10px;">
				<div style="float: left; padding-right: 20px;">analogWrite():</div>
				<div style="width: 400px; float: left;"><div id="pin{{ pin }}_pwm_slider" class="pin_pwm_slider"></div></div>
			</div>
		{% endif %}
		
	</div>
	{% endwith %}
	{% endfor %}
	
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    
	{% for pin_struct in enhanced_arduino_type.analog_pins_struct %}
    {% with pin=pin_struct.pin %}
    <div>

        <span id="pinA{{ pin }}_label" class="analog_pin_label" title="Click here to edit">{{ pin_struct.label }}</span>:

        <!--
            analogRead()
        -->
        <span class="pinA{{ pin }}_for_read">
            <button id="pinA{{ pin }}_bt_analog_read" class="bt_analog_read">analogRead()</button>
        </span>
        
        &nbsp;
        
        <span id="pinA{{ pin }}_status_text" class="pin_status_text"></span>
        
    </div>
    {% endwith %}
	{% endfor %}

    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}

    {% include "web-ui__simple_log_console.html" %}
    
    {% include "web-ui__footer.html" %}
    
	</body>
</html>
