<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>py-arduino</title>
        
        <!-- css -->
		<link type="text/css" href="/static/jquery-ui/css/ui-lightness/jquery-ui-1.8.13.custom.css" rel="stylesheet" />	
		<link type="text/css" href="/static/web-ui.css" rel="stylesheet" />	
        
		<style type="text/css">
        </style>
        
        <!-- javascript -->
		<script type="text/javascript" src="/static/jquery-ui/js/jquery-1.5.1.min.js"></script>
		<script type="text/javascript" src="/static/jquery-ui/js/jquery-ui-1.8.13.custom.min.js"></script>
		<script type="text/javascript" src="/static/web-ui.js"></script>
        
		<!-- *** py-arduino.js *** HANDLES THE COMMUNICATION WITH ARDUINO -->
        <script type="text/javascript" src="/static/py-arduino.js"></script>
        
		<script type="text/javascript">

		</script>
        
	</head>
	<body>
	
	<h1>py-arduino</h1>

    {% include "web-ui__top_error_message.html" %}

    {% if show_start_pyroproxy_server_msg %}

		    <div class="ui-widget">
		        <div class="ui-widget-header ui-corner-top">
		            <h2>Pyro Server not reachable</h2>
		        </div>
		        <div class="ui-widget-content ui-corner-bottom">
                    <p>You must start the <strong>Pyro server</strong>.</p>
                    <p>Try:</p>
                    <pre>    $ python py_arduino_web/pyroproxy/server.py</pre>
		        </div>
               </div>

			<p>&nbsp;</p>

    {% else %}

	<div class="ui-widget">
		<div class="ui-widget-header ui-corner-top">
			<h2>Connect to the Arduino</h2>
		</div>
		<div class="ui-widget-content ui-corner-bottom">
			<p>To establish a connection to the Arduino, insert the <strong>serial port</strong> device,
                the <strong>speed</strong>, and press "<strong>Connect</strong>".</p>
			<div class="ui-form">
			<form action="{% url 'connect' %}" method="post" class="ui-helper-clearfix">
				<div style="float: left;">
					<label for="f_serial_port" class="ui-helper-reset">Serial Port</label> 
					<input type="text" name="serial_port" id="f_serial_port"/> 
					{% if serial_ports %}
					    ~ Autoconectar:
						{% for port in serial_ports %}
							<input type="submit" name="serial_port" value="{{ port }}" />
                        {% endfor %}
                    {% endif %}
					~
					<label for="f_speed" class="ui-helper-reset">Speed</label> 
					<select name="speed" id="f_speed">
						<option value="9600" selected="selected">9600</option>
						<option value="14400">14400</option>
						<option value="19200">19200</option>
						<option value="38400">38400</option>
						<option value="57600">57600</option>
						<option value="115200">115200</option>
					</select>
					-
					<input type="submit" value="Connect" />
                    {% csrf_token %}
				</div>
			</form>
			</div>
		</div>
	</div>
	
	<p>&nbsp;</p>

	<div class="ui-widget">
		<div class="ui-widget-header ui-corner-top">
			<h2>Arduino Emulator</h2>
		</div>
		<div class="ui-widget-content ui-corner-bottom">
			<p>You can start the web interface with an "Arduino emulator".</p>
			<div class="ui-form">
			<form action="{% url 'connect' %}" method="post" class="ui-helper-clearfix">
				<div style="float: left;">
					<input type="submit" name="connect_emulator" value="Start emulator" />
                    {% csrf_token %}
				</div>
			</form>
			</div>
		</div>
	</div>

    {% endif %}
	
    {% include "web-ui__footer.html" %}
    
	</body>
</html>
