<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>{{ avr_cpu_type }} / py-arduino</title>
        
        <!-- css -->
		<link type="text/css" href="/static/jquery-ui/css/ui-lightness/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
        <link type="text/css" href="/static/web-ui.css" rel="stylesheet" />
		<style type="text/css">
            #js_code_editor_wrapper {
                border: 1px solid #777;
            }
            #js_code_editor_wrapper {
                font-size: 1.5em;
            }
		</style>
        
        <!-- google-code-prettify -->
        <link href="/static/google-code-prettify/prettify.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="/static/google-code-prettify/prettify.js"></script>
        
        <!-- CodeMirror -->
        <script src="/static/CodeMirror-2.01/lib/codemirror.js"></script>
        <link rel="stylesheet" href="/static/CodeMirror-2.01/lib/codemirror.css">
        <script src="/static/CodeMirror-2.01/mode/javascript/javascript.js"></script>
        <link rel="stylesheet" href="/static/CodeMirror-2.01/mode/javascript/javascript.css">
        
        <!-- javascript -->
		<script type="text/javascript" src="/static/jquery-ui/js/jquery-1.5.1.min.js"></script>
		<script type="text/javascript" src="/static/jquery-ui/js/jquery-ui-1.8.13.custom.min.js"></script>
		<script type="text/javascript" src="/static/jquery-ui/js/jquery.tmpl.min.js"></script>
		<script type="text/javascript" src="/static/jquery-ui/js/jquery.taboverride-1.0.js"></script>
		<script type="text/javascript" src="/static/web-ui.js"></script>
        
		<!-- *** py-arduino.js *** HANDLES THE COMMUNICATION WITH ARDUINO -->
        <script type="text/javascript" src="/static/py-arduino.js"></script>
        
		<script type="text/javascript">
            
            /*
             * Returns the text of the editor.
             */
			function getJsCodeEditorText() {
                var codeMirrorInstance = $("body").data("codeMirrorInstance");
                if(codeMirrorInstance != null) {
                    return codeMirrorInstance.getValue();
                } else {
                    return $("#js_code_editor").val();
                }
            }
             
			function executeJavaScript() {
				var js_source = "";
				js_source += "var OUTPUT = 'output';\n";
				js_source += "var INPUT = 'input';\n";
				js_source += "var HIGH = 'high';\n";
				js_source += "var LOW = 'low';\n";
				js_source += "var TRUE = true;\n";
				js_source += "var FALSE = false;\n";
				// js_source += $("#js_code_editor").val();
				js_source += getJsCodeEditorText();
				try {
					simpleLogConsoleClear();
					eval(js_source);
                    try {
                      var ram = arduino.globalData()['arduino_type_struct']['ram_size_bytes'];
                      var free = arduino.getFreeMemory();
                      var pc = Math.floor((free/ram)*100);
                      simpleLogConsoleLogInfo("Script executed successfully - " + pc + "% ram free (" + free + " bytes free of " + ram + " bytes)");
                    } catch(err) {
                      simpleLogConsoleLogInfo("Script executed successfully");
                    }
				} catch(err) {
					simpleLogConsoleLogError(err);
				}
                if($("body").data("codeMirrorInstance") != null)
                    $("body").data("codeMirrorInstance").focus();
			}
			
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			// ON-LOAD
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			
			$(function(){
                
                attachGlobalAjaxError();
				
				// Now that AJAX errors are reported, we load the data...
                
				JsArduino.init();
				JsArduino.enableJsExceptions();
				
				arduino = JsArduino;
				
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				// Attach events to buttons
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				
				$("#ping_button").button().click(function() {
					ping();
				});
				
				$("#validate_connection_button").button().click(function() {
					validateConnection();
				});
				
				$("#close_arduino_button").button().click(function() {
					closeProxy();
				});
				
				$("#goto_main_button").button().click(function() {
					redirectToMainPage();
				});
				
				$("#goto_js_prototyper_button").button().click(function() {
					redirectToJsPrototyper();
				});
                
				$("#execute_button").button().click(function() {
					executeJavaScript();
				});

				$("#clear_log_console_button").button().click(function() {
					simpleLogConsoleClear();
				});
                
                /*
				$(".button_mv_src_to_editor").button().click(function() {
					var button_id = $(this).attr('id');
                    $('#js_code_editor').val($("#" + button_id + "_src").html());
                    
                    / *
					var pin = getPinFromId($(this).attr('id'));
					var newLabel = prompt("Enter new label for pin " + pin, $(this).html());
					if(newLabel && newLabel.trim) newLabel = newLabel.trim();
					if(newLabel) {
						$($(this).html(newLabel));
					}
                    * /
				});
                */
                
                prettyPrint();
                
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				// Accordion
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				
                $(function() {
                    $( "#docs_accordion" ).accordion({
                        collapsible: true,
                        active: false
                    });
                });
                
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				// Setup textarea
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                
                /*
				$("#js_code_editor").resizable({
					handles: "se"
				});
                */
                
                try {
                    var codeMirrorInstance = CodeMirror.fromTextArea($("#js_code_editor")[0]);
                    $("body").data("codeMirrorInstance", codeMirrorInstance);
                } catch(err) {
                    $("body").data("codeMirrorInstance", null);
                }

				// enable Tab Override
				$.fn.tabOverride.setTabSize(4);
				$("#js_code_editor").tabOverride();
                
			});
            
		</script>
	</head>
	<body>
		
	<h1>py-arduino @ {{ avr_cpu_type }}</h1>
	
    {% include "web-ui__top_error_message.html" %}
	
    {% include "web-ui__top_connected_arduino_info.html" %}
	
	<!-- ping() / validateConnection() / closeProxy() -->
	<p class="ui-helper-clearfix">
		<button id="goto_main_button">Main</button>
		<button id="goto_js_prototyper_button" class="ui-state-highlight">JS Prototyper</button>
        ::
		<button id="ping_button" class="ui-priority-secondary">Ping</button> <span id="ping_result"></span>
		<button id="validate_connection_button" class="ui-priority-secondary">Validate connection</button> <span id="validate_connection_result"></span>
		<button id="close_arduino_button" class="ui-priority-secondary">Close</button> <span id="close_arduino_result"></span>
        ::
		<button id="execute_button" class="ui-priority-primary">Execute</button>
		<button id="clear_log_console_button">Clear console</button>
	</p>
	
	<div id="js_code_editor_wrapper">
		<textarea id="js_code_editor">
simpleLogConsoleLogInfo("Will send ping to Arduino...");
arduino.ping();
simpleLogConsoleLogInfo("Ping OK.");
</textarea>
	</div>
	
    <div id="docs_accordion">
        <h3><a href="#">Example: blink led</a></h3>
        <div class="ui-helper-reset" style="font-size: 1.5em;">
<pre class="prettyprint lang-js">
/*
 * Blink LED on PIN 13
 */

var pinToBlink = 13;

simpleLogConsoleLogInfo("Setting pin " + pinToBlink + " as OUTPUT");
arduino.pinMode(pinToBlink, OUTPUT);

if(! confirm("Start to blink?")) throw "stopping script";

simpleLogConsoleLogInfo("Starting to blink");
var i;
for(i=0; i&lt;5; i++) {
    arduino.digitalWrite(pinToBlink, HIGH);
    arduino.delay(250);
    arduino.digitalWrite(pinToBlink, LOW);
    arduino.delay(250);
}</pre>
        </div>

        <h3><a href="#">Example: read temperature with LM335</a></h3>
        <div class="ui-helper-reset" style="font-size: 1.5em;">
<pre class="prettyprint lang-js">
/***********************************************************************
 * Second exampe. Using javascript functions.
 ***********************************************************************/

function readTemp(analogPort) {
    var value = arduino.analogRead(analogPort);
    var volt = (5.0/1024.0) * value;
    var kelvin = volt * 100;
    return (kelvin - 273); // return temp. in celcius
}

var analogPort = 0;

simpleLogConsoleLogInfo("Temp. on A" + analogPort + ": " + readTemp(analogPort));

/***********************************************************************
 * Use 'toFixed()' to get a better formatting
 ***********************************************************************/

simpleLogConsoleLogInfo("Temp. on A" + analogPort + ": " + readTemp(analogPort).toFixed(1) + "º C");
</pre>
<!-- <button id="example_0" class="button_mv_src_to_editor">Move source to editor</button> -->
        </div>




        <h3><a href="#">JavaScript links</a></h3>
        <div>
            <p>
            <ul>
                <li><a href="https://developer.mozilla.org/en/JavaScript/Reference">https://developer.mozilla.org/en/JavaScript/Reference</a></li>
                <li><a href="https://developer.mozilla.org/en/JavaScript/Guide">https://developer.mozilla.org/en/JavaScript/Guide</a></li>
                <li><a href="http://docs.jquery.com/Main_Page">http://docs.jquery.com/Main_Page</a></li>
            </ul>
            </p>
        </div>
    </div>

    {% include "web-ui__footer.html" %}
    
	</body>
</html>


