body {
    font: 62.5% sans-serif;
    margin: 20px;
    color: #777;
}
.ui-widget .ui-widget-content,
.ui-widget .ui-widget-header {
	padding: 5px;
}

.table {
	display:table;
}
.table-row {
	display:table-row;
}
.table-cell {
   display:table-cell;
    padding: 0.4em;
}
